
.heading {
    background-color: yellow;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.button {
    background-color: rgb(240, 240, 47);
    color: black;
    font-style: oblique;
    padding: auto;
}




